<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%=title%></title>
</head>

<body>
    <div id="example"></div>
    <script src="js/react.min.js?v1"></script>
    <script src="js/react-dom.min.js?v1"></script>
    <script src="http://cdn.bootcss.com/babel-core/5.8.23/browser.min.js?v1"></script>
    <script type="text/babel" src="js/<%=filename%>"></script>
</body>

</html>